@{
    ViewData["Title"] = "Privacy Policy";
}

<br /><br /><br />
<h3 class="display-4"><b>Privacy Policy</b></h3>

<div class="cont1">
  <div class="content1">
    <h4>A privacy policy is a statement or legal document (in privacy law) that discloses some or all of the ways a party gathers,
        uses, discloses, and manages a customer or client's data.</h4>
  </div>
  <div class="flap"></div>
</div>
